In [1]:
import pandas as pd
import numpy as np

In [2]:
full_data = pd.read_csv('/Users/kids/Desktop/2022 Pitches.csv')
full_data.head()

/Users/kids/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (2,3,4,6,7,10,11,12,13,14,22,24,25,26,27,28,29,30,31,32,33,34,35,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,79,80,81,82,83,84,85,86,89,90,91) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,batter,pitcher,events,description,...,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,spin_axis,delta_home_win_exp,delta_run_exp
0,FF,4/30/22,98.8,1.92,5.92,"Luzardo, Jesús",641487,666200,field_out,hit_into_play,...,0,0,0,0,0,Standard,Standard,133.0,0.042,-0.461
1,FF,4/30/22,97.4,1.83,5.93,"Luzardo, Jesús",641487,666200,NaN,called_strike,...,0,0,0,0,0,Standard,Standard,132.0,0.0,-0.123
2,FF,4/30/22,97.8,-0.98,6.04,"Hernández, Carlos",519317,672578,NaN,foul,...,0,0,0,0,0,Strategic,Strategic,215.0,0.0,0.0
3,FF,4/30/22,97.0,1.87,5.97,"Luzardo, Jesús",641487,666200,NaN,ball,...,0,0,0,0,0,Standard,Standard,133.0,0.0,0.107
4,SI,4/30/22,92.4,1.5,6.14,"Irvin, Cole",608070,608344,field_out,hit_into_play,...,0,0,0,0,0,Standard,Standard,140.0,0.01,-0.07

In [3]:
reduced_data = full_data[['pitcher', 'batter', 'release_speed', 'release_pos_x', 'release_pos_z', 'pfx_x', 'pfx_z', 'release_spin_rate', 'release_extension', 'spin_axis', 'description']]
reduced_data["description"] = np.where(reduced_data["description"] == "swinging_strike", 1, 0)
reduced_data = reduced_data.rename(columns = {'description':'swinging_strike'})

/var/folders/_4/0s_qrg3d1899nbn77d0qkhg00000gp/T/ipykernel_77396/3148077369.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reduced_data["description"] = np.where(reduced_data["description"] == "swinging_strike", 1, 0)

In [4]:
reduced_data['numPitches']=reduced_data.groupby(['pitcher'])['pitcher'].transform('count')

In [6]:
clean_data = reduced_data[reduced_data['numPitches']>=100]
clean_data = clean_data.drop(columns=['numPitches'])
clean_data.head()

,pitcher,batter,release_speed,release_pos_x,release_pos_z,pfx_x,pfx_z,release_spin_rate,release_extension,spin_axis,swinging_strike
0,666200,641487,98.8,1.92,5.92,1.0,1.23,2233.0,6.0,133.0,0
1,666200,641487,97.4,1.83,5.93,0.94,1.28,2195.0,5.9,132.0,0
2,672578,519317,97.8,-0.98,6.04,-0.48,1.29,2217.0,6.7,215.0,0
3,666200,641487,97.0,1.87,5.97,0.77,1.44,2199.0,5.8,133.0,0
4,608344,608070,92.4,1.5,6.14,1.12,0.81,1922.0,6.5,140.0,0

In [13]:
shuffled_data = clean_data.sample(frac=1)
splitPt = round(len(shuffled_data)*0.8)
pitches = shuffled_data.iloc[:splitPt, :]
hidden = shuffled_data.iloc[splitPt:, :]
pitches.head()

,pitcher,batter,release_speed,release_pos_x,release_pos_z,pfx_x,pfx_z,release_spin_rate,release_extension,spin_axis,swinging_strike
253635,669456,518692,91.1,-1.3,5.59,-0.58,1.25,2149.0,6.8,210.0,0
256510,656756,516782,93.1,1.9,6.59,1.15,1.19,2252.0,6.7,140.0,0
340231,669212,543068,91.5,-0.46,5.82,-0.7,1.03,2268.0,6.5,220.0,0
228367,571927,543939,95.0,1.73,5.78,1.31,1.03,2345.0,6.2,129.0,0
237179,669923,493329,95.2,-1.31,6.07,-0.7,1.55,2286.0,6.5,217.0,0

In [16]:
pitches.to_csv('/Users/kids/Desktop/pitches.csv')
hidden.to_csv('/Users/kids/Desktop/hidden.csv')

In [8]:
len(clean_data.pitcher.unique())

633

In [9]:
len(reduced_data.pitcher.unique())

1235

In [12]:
round(len(shuffled_data)*0.8)

299814

In [15]:
len(hidden)

74954